<div class="news">
  <ul>
    <li> The art of Diffusion Models <a href="files/The_art_of_discrete_diffusion.pdf">Slides</a> </li>
    <li> An introduction to Optimal Transport <a href="files/An_introduction_to_Optimal_Transport.pdf">Slides</a> </li>
    <li> Stochastic Differential Equation <a href="files/SDE_Differential_Equations.pdf">Slides</a> </li>
    <li> Applied Stochastic Analysis <a href="files/Applied Stochastic Analysis.pdf">Slides</a> </li>
    <li> Continuous Normalizing Flow <a href="files/Continuous Normalizing Flow.pdf">Slides</a> </li>
    <li> Optimal Control <a href="files/Optimal Control.pdf">Slides</a> </li>
    <li> Schrödinger Bridge Problem <a href="files/sbp.pdf">Slides</a> </li>
    <li> Stochastic Optimal Control <a href="files/stochastic_optimal_control.pdf">Slides</a> </li>
    

 </ul>
</div>
